body {
  text-align: center;
  background-color: #011F3F;
}

.level-title,
h2 {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin: 5% 5% 7rem;
  color: #FEF2BF;
}

.game-over-title {
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 4rem !important;
}

.invisible {
  visibility: hidden;
  position: absolute;
}

/* .container-sm {
  text-align: center;
  display: block;
  width: 50%;
  margin: auto;
  
} */

.row {
  justify-content: center;
}

.bttn {
  background-color: #000;
  margin: -5px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
}

#inner-circle {
  font-size: 3rem;
  font-weight: bold;
  position: absolute;
  height: 216px;
  width: 216px;
  background-color: #fff;
  border: 10px solid #000;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
  border-radius: 0 100% 0 0;
}

.green {
  background-color: green;
  border-radius: 100% 0 0 0;
}

.blue {
  background-color: blue;
  border-radius: 0 0 100% 0;
}

.yellow {
  background-color: yellow;
  border-radius: 0 0 0 100%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}